= form_for [ :church, @weekly_meeting] do |f|
  - if @weekly_meeting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@weekly_meeting.errors.count, "error")} prohibited this weekly_meeting from being saved:"
      %ul
        - @weekly_meeting.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :start_hour
    = f.number_field :start_hour
  .field
    = f.label :end_hour
    = f.number_field :end_hour
  .field
    = f.label :weekday
    = f.number_field :weekday
  .field
    = f.label :location
    = f.text_field :location
  .field
    = f.label :description
    = f.text_field :description
  .actions
    = f.submit 'Save'
